= simple_form_for @yid, :html => {class: "form_horizontal"} do |f|
  - if @yid.errors.any?
    #error_explanation
      %h2
        = pluralize(@yid.errors.count, "error")
        prohibited this yid from being saved:
      %ul
        - @yid.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :email
  = f.input :phone
  = f.button :submit
