%li
  = event.date
  %ul{:id => "rsvp_list#{event.id}"}
    = render event.rsvps
  - if current_user && event.in_attendance(current_user)
    = link_to "Cancel Attendence",                                        |
      minyan_event_cancel_path(event.minyan, event), |
      method: :post                                                       |
  - elsif current_user
    = link_to "Attend Event",                                             |
      minyan_event_attend_path(event.minyan, event), |
      method: :post                                                       |
