<%= simple_form_for @minyan, :html => {class: 'form-horizontal'} do |f| %>
  <% if @minyan.errors.any? %>
    <div id="error">
      <h2> <%= pluralize(@minyan.errors.count, "error") %> prohibited this post
           from being saved:</h2>
      <ul>
        <% @minyan.errors.full_messages.each do |e| %>
          <li> <%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :sun %>
  <%= f.input :mon %>
  <%= f.input :tue %>
  <%= f.input :wed %>
  <%= f.input :thu %>
  <%= f.input :fri %>
  <%= f.input :sat %>
  <%= f.button :submit %>
<%end%>
