.row
  .col-md-12
    = link_to new_minyan_path, class: "btn btn-default" do
      %i.glyphicon.glyphicon-plus-sign
        New Minyan
.row
  .col-md-12
    %table
      %thead
        %tr
          %th
          %th
            Title
          %th
            Description
          %th
            Days
          %th
            Actions
      %tbody
        - @minyans.each do |m|
          - isOwner = (m.owner == current_user)
          %tr
            %td
              = render "star", m: m
            %td
              = m.title
            %td
              = m.description
            %td
              = m.days.join(", ")
            %td
              .btn-group
                = btn minyan_path(m),"eye-open"
                - if isOwner
                  = btn edit_minyan_path(m), "edit"
                  // Actually need that blank text there to make the final button in the group be the right size
                  = link_to "  ", minyan_path(m), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger glyphicon glyphicon-trash"
                   

