<div class="row">
  <div class="span12">
    <%= link_to new_minyan_path, class: "btn" do%>
      <i class="icon-plus-sign icon-white"> New Minyan </i>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
<!--<table class="table table-striped table-hover">-->
<table>
<thead>
<tr>
  <th>
    Title
  </th>
  <th>
    Description
  </th>
  <th>
    Days
  </th>
  <th>
    Actions
  </th>
</tr>
</thead>
<tbody>
<% @minyans.each do |m| %>
  <% isOwner = (m.owner == current_user) %>
  <tr>
    <td>
      <%= m.title %>
    </td>
    <td>
      <%= m.description %>
    </td>
    <td>
      <%= m.days.join(", ") %>
    </td>
    <td>
      <%= link_to m, class: "btn icon-eye-open" do%>
        <span class="hidden-phone">Show</span>
      <% end %>
      <% if isOwner %>
        <%= link_to edit_minyan_path(m), class: "btn icon-edit" do%> 
          <span class="hidden-phone">Edit</span>
        <% end %>
        <%= link_to minyan_path(m), method: :delete,
            data: {confirm: "Are you sure?"},
            class:  "btn btn-danger icon-trash" do %>
          <span class="hidden-phone">Delete</span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
