%h1 Display Minyan
- if @minyan && @minyan.errors.any?
  #error
    %h2
      = pluralize(@minyan.errors.count, "error")
      prohibited this post
      from being saved:
    %ul
      - @minyan.errors.full_messages.each do |e|
        %li
          = e
= render "star", m: @minyan
%p
  %strong Title:
  = @minyan.title
%p
  %strong Owner:
  = @minyan.owner.name
%p
  %strong Description:
  = @minyan.description
%p
  %strong Days:
  = @minyan.days.join(", ")
%p
  %strong Regulars:
  -# I love Ruby and lambda functions :).
  = @minyan.yids.collect { |x| x.name }.join(", ")
%h2 Events
= render @minyan.upcoming(5)
%ul
%h2 Add an event
= form_for([@minyan, @minyan.events.build]) do |f|
  = f.label :date
  = f.date_field :date
  %p
    = f.submit
= link_to "Back", minyans_path
| #{link_to "Edit", edit_minyan_path(@minyan)}
