<!DOCTYPE html>
<html lang="en">
<head>
<!-- Used by Bootsrap CSS framework for zooming on mobiles. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>MinyanMate</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<header class="row-fluid">
  <%= render "layouts/navigation" %>
</header>
<main role="main" class="container">
      <%= yield %>
</main>
<footer class=container>
  <div class="row-fluid">
    <div class="span6">
      Copyright Harris Lloyd-Levy 2014
    </div>
    <div class="span6">
      Made with the help of lots of open-source software, that I will all name
      in a later version.
    </div>
  </div>
</footer>

</body>
</html>
