!!!
%html{:lang => "en"}
  %head
    / Used by Bootsrap CSS framework for zooming on mobiles.
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title MinyanMate
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render "layouts/navigation"
      -#
        Need the div outside the partial so we can just re-render the partial into this div in 
        javascript callbacks
      .messages(id="messages")
        = render "layouts/messages"
    %main.container{:role => "main"}
      = yield
    %footer.container
      .row
        .col-md-6
          = link_to about_path do
            About Minyan Mate
        .col-md-6
          = link_to stack_path do
            Built with Open Source (and love) by Harris
