<!DOCTYPE html>
<html>
<head>
<title>MinyanMate</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :brand => "MinyanMate", :responsive => true do %>
  <% menu_group :pull => "right" do %>
    <%= menu_item "Home", root_path %>
    <% if current_user %>
      <%= drop_down "Minyans" do %>
        <%= menu_item "My Minyans", my_minyans_path %>
        <%= menu_item "My Attendances", my_events_path %>
        <%= menu_item "Log Out of " + current_user.name, signout_path %>
      <% end %>
    <% else %>
      <%= menu_item "Login With Google", "/auth/google_login"%>
    <% end %>
  <% end %>
<% end %>

<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>

<%= yield %>

</body>
</html>
